<img src="assets/images/oc-logo.svg" alt="Logo image" class="logo" />
<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div class="form-group">
      <input
        name="email"
        type="email"
        formControlName="email"
        placeholder="Email"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
